@media screen and (max-width: 768px){
    
    .navBar {
      display: none;
    }
  
  /* Top box with my name inside */
  .nameBox {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    background: #3a2e42;
  }
  
    .dropdown {
      position: fixed;
      right: 0;
      top: 0;
      height: 60px;
      width: 60px;
      background: #ccc;
      font-family: 'Abel', sans-serif;
      text-align: center;
      z-index: 3;
    }
  
    .linkFont {
      font-family: 'Rajdhani', sans-serif;
      color: #777777;
      font-size: 20px;
      line-height: 50px;
    }
  

    /* My name font info */
h1 {
    font-family: 'Rajdhani', sans-serif;
    text-align: left;
    font-size: 35px;
    color: #fff;
  }


    h6 {
        font-family: 'Rajdhani', sans-serif;
        color: #3a2e42;
        font-size: 25px;
        font-weight: bold;
        display: inline;
      }

  .menuFont {
    font-family: 'Rajdhani', sans-serif;
    font-size: 30px;
    color: #3a2e42;
    font-weight: bold;
  }


  
  
  }